<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.yellow.mapper.AdminUserLoginLogMapper">
	<insert id="add" parameterType="com.yy.yellow.po.AdminUserLoginLog">
		<selectKey keyProperty="id" order="AFTER" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into yellow_admin_user_login_log(id, adminUserId, adminUserName, loginIp, loginTime, userAgent, createTime)
		values(#{id}, #{adminUserId}, #{adminUserName}, #{loginIp}, #{loginTime}, #{userAgent}, #{createTime})
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from yellow_admin_user_login_log where id = #{id}
	</delete>
	
	<update id="update" parameterType="com.yy.yellow.po.AdminUserLoginLog">
		update yellow_admin_user_login_log set
		adminUserId = #{adminUserId}, adminUserName = #{adminUserName}, loginIp = #{loginIp},
		loginTime = #{loginTime}, userAgent = #{userAgent}, createTime = #{createTime}
		where id = #{id}
	</update>
	
	<select id="find" parameterType="com.yy.yellow.util.QueryCondition" resultType="com.yy.yellow.po.AdminUserLoginLog">
		select * from yellow_admin_user_login_log
		<if test="useWhere">
			where
			<foreach collection="conditions" index="index" item="obj">
				<choose>
					<when test="index == 0">${obj.field} ${obj.operator} #{obj.value}</when>
					<otherwise>${obj.join} ${obj.field} ${obj.operator} #{obj.value}</otherwise>
				</choose>
			</foreach>
		</if>
		
		<if test="useSort">
			order by
			<foreach collection="sorts" item="obj" separator=",">
				${obj}
			</foreach>
		</if>
		
		limit 0, 1
	</select>
	
	<select id="findById" parameterType="int" resultType="com.yy.yellow.po.AdminUserLoginLog">
		select * from yellow_admin_user_login_log where id = #{id}
	</select>
	
	<select id="query" parameterType="com.yy.yellow.util.QueryCondition" resultType="com.yy.yellow.po.AdminUserLoginLog">
		select * from yellow_admin_user_login_log
		<if test="useWhere"> <!-- 添加查询条件 -->
			where
			<foreach collection="conditions" index="index" item="obj">
				<choose>
					<when test="index == 0">${obj.field} ${obj.operator} #{obj.value}</when>
					<otherwise>${obj.join} ${obj.field} ${obj.operator} #{obj.value}</otherwise>
				</choose>
			</foreach>
		</if>
		
		<if test="useSort"> <!-- 添加排序 -->
			order by
			<foreach collection="sorts" item="obj" separator=",">
				${obj}
			</foreach>
		</if>
		
		<if test="page != null"> <!-- 添加分页 -->
			limit ${page.beginIndex}, ${page.pageSize}
		</if>
	</select>
	
	<select id="getCount" parameterType="com.yy.yellow.util.QueryCondition" resultType="int">
		select count(*) from yellow_admin_user_login_log
		<if test="useWhere">
			where
			<foreach collection="conditions" index="index" item="obj">
				<choose>
					<when test="index == 0">${obj.field} ${obj.operator} #{obj.value}</when>
					<otherwise>${obj.join} ${obj.field} ${obj.operator} #{obj.value}</otherwise>
				</choose>
			</foreach>
		</if>
	</select>
</mapper>