<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.yellow.mapper.MovieWatchRecordMapper">
	<insert id="add" parameterType="com.yy.yellow.po.MovieWatchRecord">
		<selectKey keyProperty="id" order="AFTER" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into yellow_movie_watch_record(id, userId, ip, movieId, lastWatchTime, createTime)
		values(#{id}, #{userId}, #{ip}, #{movieId}, #{lastWatchTime}, #{createTime})
	</insert>
	
	<delete id="delete" parameterType="int">
		delete from yellow_movie_watch_record where id = #{id}
	</delete>
	
	<update id="update" parameterType="com.yy.yellow.po.MovieWatchRecord">
		update yellow_movie_watch_record set
		userId = #{userId}, ip = #{ip}, movieId = #{movieId},
		lastWatchTime = #{lastWatchTime}, createTime = #{createTime}
		where id = #{id}
	</update>
	
	<select id="find" parameterType="com.yy.yellow.util.QueryCondition" resultType="com.yy.yellow.po.MovieWatchRecord">
		select * from yellow_movie_watch_record
		<if test="useWhere">
			where
			<foreach collection="conditions" index="index" item="obj">
				<choose>
					<when test="index == 0">${obj.field} ${obj.operator} #{obj.value}</when>
					<otherwise>${obj.join} ${obj.field} ${obj.operator} #{obj.value}</otherwise>
				</choose>
			</foreach>
		</if>
		
		<if test="useSort">
			order by
			<foreach collection="sorts" item="obj" separator=",">
				${obj}
			</foreach>
		</if>
		
		limit 0, 1
	</select>
	
	<select id="findById" parameterType="int" resultType="com.yy.yellow.po.MovieWatchRecord">
		select * from yellow_movie_watch_record where id = #{id}
	</select>
	
	<select id="query" parameterType="com.yy.yellow.util.QueryCondition" resultType="com.yy.yellow.po.MovieWatchRecord">
		select * from yellow_movie_watch_record
		<if test="useWhere"> <!-- 添加查询条件 -->
			where
			<foreach collection="conditions" index="index" item="obj">
				<choose>
					<when test="index == 0">${obj.field} ${obj.operator} #{obj.value}</when>
					<otherwise>${obj.join} ${obj.field} ${obj.operator} #{obj.value}</otherwise>
				</choose>
			</foreach>
		</if>
		
		<if test="useSort"> <!-- 添加排序 -->
			order by
			<foreach collection="sorts" item="obj" separator=",">
				${obj}
			</foreach>
		</if>
		
		<if test="page != null"> <!-- 添加分页 -->
			limit ${page.beginIndex}, ${page.pageSize}
		</if>
	</select>
	
	<select id="getCount" parameterType="com.yy.yellow.util.QueryCondition" resultType="int">
		select count(*) from yellow_movie_watch_record
		<if test="useWhere">
			where
			<foreach collection="conditions" index="index" item="obj">
				<choose>
					<when test="index == 0">${obj.field} ${obj.operator} #{obj.value}</when>
					<otherwise>${obj.join} ${obj.field} ${obj.operator} #{obj.value}</otherwise>
				</choose>
			</foreach>
		</if>
	</select>

	<select id="getLoginUserWatchRecord" resultType="com.yy.yellow.po.MovieWatchRecord">
		<![CDATA[
			select * from yellow_movie_watch_record
			where (userId = #{userId} OR ip = #{ip}) AND movieId = #{movieId}
			AND lastWatchTime >= #{startTime} AND lastWatchTime <= #{endTime}
			limit 0, 1
		]]>
	</select>

	<select id="getLoginUserWatchCount" resultType="int">
		<![CDATA[
			select count(*) from yellow_movie_watch_record
			where (userId = #{userId} OR ip = #{ip}) AND lastWatchTime >= #{startTime} AND lastWatchTime <= #{endTime}
		]]>
	</select>
	
	<select id="getLoginUserWatchMovies" resultType="com.yy.yellow.po.MovieWatchRecord">
		<![CDATA[
			select * from yellow_movie_watch_record
			where (userId = #{userId} OR ip = #{ip}) AND lastWatchTime >= #{startTime} AND lastWatchTime <= #{endTime}
			order by lastWatchTime DESC
		]]>
		<if test="page != null">
			limit ${page.beginIndex}, ${page.pageSize}
		</if>
	</select>
</mapper>