<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yy.yellow.mapper.MovieMapper">
	<insert id="add" parameterType="com.yy.yellow.po.Movie">
		insert into yellow_movie(id, title, tags, imgUrl, externalLink, internalLink, filePath, createTime)
		values(#{id}, #{title}, #{tags}, #{imgUrl}, #{externalLink}, #{internalLink}, #{filePath}, #{createTime})
	</insert>
	
	<delete id="delete" parameterType="String">
		delete from yellow_movie where id = #{id}
	</delete>
	
	<update id="update" parameterType="com.yy.yellow.po.Movie">
		update yellow_movie set
		id = #{id}, title = #{title}, tags = #{tags}, imgUrl = #{imgUrl},
		externalLink = #{externalLink}, internalLink = #{internalLink},
		filePath = #{filePath}, createTime = #{createTime}
		where id = #{id}
	</update>
	
	<select id="find" parameterType="com.yy.yellow.util.QueryCondition" resultType="com.yy.yellow.po.Movie">
		select id, title, tags, imgUrl, externalLink, internalLink, filePath, createTime from yellow_movie
		<if test="useWhere">
			where
			<foreach collection="conditions" index="index" item="obj">
				<choose>
					<when test="index == 0">${obj.field} ${obj.operator} #{obj.value}</when>
					<otherwise>${obj.join} ${obj.field} ${obj.operator} #{obj.value}</otherwise>
				</choose>
			</foreach>
		</if>
		
		<if test="useSort">
			order by
			<foreach collection="sorts" item="obj" separator=",">
				${obj}
			</foreach>
		</if>
		
		limit 0, 1
	</select>
	
	<select id="findById" parameterType="String" resultType="com.yy.yellow.po.Movie">
		select id, title, tags, imgUrl, externalLink, internalLink, filePath, createTime from yellow_movie
		where id = #{id}
	</select>
	
	<select id="query" parameterType="com.yy.yellow.util.QueryCondition" resultType="com.yy.yellow.po.Movie">
		select id, title, tags, imgUrl, externalLink, internalLink, filePath, createTime from yellow_movie
		<if test="useWhere"> <!-- 添加查询条件 -->
			where
			<foreach collection="conditions" index="index" item="obj">
				<choose>
					<when test="index == 0">${obj.field} ${obj.operator} #{obj.value}</when>
					<otherwise>${obj.join} ${obj.field} ${obj.operator} #{obj.value}</otherwise>
				</choose>
			</foreach>
		</if>
		
		<if test="useSort"> <!-- 添加排序 -->
			order by
			<foreach collection="sorts" item="obj" separator=",">
				${obj}
			</foreach>
		</if>
		
		<if test="page != null"> <!-- 添加分页 -->
			limit ${page.beginIndex}, ${page.pageSize}
		</if>
	</select>
	
	<select id="getCount" parameterType="com.yy.yellow.util.QueryCondition" resultType="int">
		select count(*) from yellow_movie
		<if test="useWhere">
			where
			<foreach collection="conditions" index="index" item="obj">
				<choose>
					<when test="index == 0">${obj.field} ${obj.operator} #{obj.value}</when>
					<otherwise>${obj.join} ${obj.field} ${obj.operator} #{obj.value}</otherwise>
				</choose>
			</foreach>
		</if>
	</select>
</mapper>